.LG {
    .account-info-board {
        margin: 15px auto 0;
        width: 810px;
    }
    
    .info-board-title {
        font-size: 20px;
        font-weight: bold;
    }
    
    .info-board-content {
        width: 100%;
        height: 88px;
        margin-top: 20px;
        border-radius:4px;
    }
    
    .main-info-board-title {
        font-size: 28px;
        width: calc(60% - 80px);
        margin:  0 auto;
        font-weight: bold;
        text-align: left;
    }
    
    .main-info-board-content {
        height: auto;
        > div.info-sec-wrapper {
            border: 0;
            margin: 0;
            width: 800px;
            display: inline-block !important;
            .info-sec {
                padding: 23px 30px !important;
                width: 240px;
                height: 100px;
                margin-right: 5%;
                margin-top: 14px;
                margin-bottom: 14px;
                display: inline-block;
                box-shadow:0px 0px 25px 0px rgba(0, 0, 0, 0.05);
                &:nth-child(3), &:nth-child(6){
                    margin-right: 0;
                }
            }
        }
    }
}

.XS {
    .account-info-board {
        width: 89.5%;
        margin: 5.25% auto 0;
        .info-board-title {
            font-size: 22px;
            font-weight: bold;
        }
        .info-sec-wrapper {
            padding: 10px 15px;
            .info-sec {
                margin: 2px 0;
            }
        }
    }
    .main-info-board {
        width: 89%;
        margin: 0 5.5%;
    }
}