.CM {
    &.main-page {
        background: #FFFFFF !important;
        
        .headline {
            font-family: SourceHanSansCN-Bold;
            font-weight: bold;
            color:rgba(51,51,68,1);
        }
        
        .headline-intro{
            margin-top: 19px;
            margin-bottom: 32px;
            > div {
                font-size: 16px;
                font-family: SourceHanSansCN-Regular;
                font-weight: 400;
                color:#8A8A91;
                line-height: 25px;
            }
        }
        
        .info-title {
            font-size: 14px;
            font-weight: medium;
        }
  
        .disable-link {
            pointer-events: none;
        }
        
        .account-info-board {
            position: relative;
        }
    
        .info-sec-wrapper {
            border-radius: 4px;
        }
        
        .info-board-title {
            position: absolute;
            left: 25px;
            top: -20px;
            background: #FFFFFF;
            z-index: 1;
            padding: 0 22px;
        }
        
        .info-board-content {
            box-shadow: 0 !important;
        }
    }
}

.LG {
    &.main-page {
        .main-page-header {
            width: 88%;
            padding-top: 30px;
            margin: 0 auto 15px;
            margin-left: 88px;
            margin-right: 113px;
            display: flex;
            justify-content: space-between;
        }
        .header-logo {
            width: 100px;
            height: 70px;
        }
        .headline-wrapper {
            text-align: center;
            margin: 5px auto 26px !important;
            width: 732px !important;
            .headline {
                font-size: 38px;
                line-height: 45px;
            }
        }
        .title {
            font-size: 28px;
            font-weight: bold;
            display: inline;
        }

        .borrow-link, .lend-link {
            display: block;
            height: 100%;
            width: 220px;
            position: absolute;
        }
        .button-container {
            display: flex;
            justify-content: space-between;
            width: 800px;
            margin: 0 auto;
        }
        
        .borrow-button, .lend-button {
            width: 548px;
            color: #333344;
            position: relative;
            .description {
                margin-bottom: 0;
            }
        }
    
        .lend-button, .borrow-button {
            width: fit-content;
            &:hover {
                .title {
                    color: #5787fb;
                }
            }
        }
        
        .lend-button > div, .borrow-button > div {
            margin-bottom: 21px;
            >img {
                width: 27px;
                height: 31px;
                margin-right: 21px;
            }
        }
        .lend-container {
            margin-top: 50px;
            margin-bottom: 30px;
            .description {
                font-size: 18px;
                width: 340px;
            }
        }
        .borrow-container {
            margin-top: 50px;
            margin-bottom: 30px;
            .description {
                font-size: 18px;
                width: 380px;
            }
        }
    }
    .connect-sign {
        width:5px;
        height:5px;
        display: inline-block;
        background:rgba(166,166,181,1);
        border-radius:50%;
    }
    .signed-in {
        background: #F6C343;
        width:5px;
        height:5px;
        display: inline-block;
        border-radius:50%;
    }
    div.login {
        font-size: 14px;
        height: 30px;
        // background: url('../assets/img/downwhite.png') no-repeat 160px 4px;
        background-size: 10px;
        position: relative;
        font-weight: 200;

        &:hover {
            .popup {
                display: block;
            }
        }

        .popup {
            display: none;
            z-index: 999;
            width: 180px;
            background: #fff;
            padding: 3px;
            color: #333;
            border-radius: 4px;
            position: absolute;
            top: 24px;
            left: 0px;
            border: 1px solid rgba(217, 222, 227, 1);
            box-shadow: 0px 5px 12px 0px rgba(42, 49, 56, 0.15);

            p {
                margin: 0;
                // background: url('../assets/img/connection.png') no-repeat 44px center;
                background-size: 15px;
                padding: 6px;
                text-align: center;
                padding-left: 25px;
                cursor: pointer;

                &.out {
                    // background: url('../assets/img/out.png') no-repeat 44px center;
                    background-size: 17px;
                }
            }

            span {
                display: block;
                width: 0;
                height: 0;
                border-width: 0 6px 6px;
                border-style: solid;
                border-color: transparent transparent rgba(217, 222, 227, 1);
                position: absolute;
                top: -6px;
                right: 8px;
            }

            em {
                display: block;
                width: 0;
                height: 0;
                border-width: 0 5px 5px;
                border-style: solid;
                border-color: transparent transparent #fff;
                position: absolute;
                top: 2px;
                left: -5px;
            }
        }
    }
}

.XS {
    &.main-page {
        .main-page-header, .headline-wrapper {
            width: 89%;
            margin: 0 auto;
        }

        .headline-wrapper {
            text-align: center;
            .headline {
                font-size: 26px;
            }
        }
        .header-logo {
            width: 50px;
            height: 35px;
            margin-top: 25px;
            margin-bottom: 40px;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
            display: inline;
        }
        .info-sec-wrapper {
            padding:  0 15px;
            .info-sec {
                margin: 5px 0;
            }
        }
        .main-info-board {
            margin-bottom: 37px;
        }
        .description {
            font-size: 15px;
            line-height: 15px;
        }
        .button-container {
            width: 89%;
            margin: 0 auto;
        }
        .lend-container {
            border-bottom: 1px solid #d6d6d6;
            padding-bottom: 25px;
        }
        .borrow-container {
            padding-top: 25px;
        }
        .lend-button > div, .borrow-button > div {
            margin-bottom: 21px;
            >img {
                width: 17px;
                height: 22px;
                margin-right: 21px;
            }
        }
        .borrow-link, .lend-link {
            display: block;
            width: 89%;
            height: 100px;
            position: absolute;
        }
    }
}