$button-color: #a55aff;
$button-borrow-color: #675CFF;
.approve-section {
  .enable-message {
    margin-bottom: 49px;
    margin-top: 52px;
    font-size: 16px;
  }

  .button-wrapper {
    width: 100%;
    // margin: 10px;
    button {
      width: 100%;
      border-color: $button-color !important;
      background-color: $button-color !important;
      color: #ffffff !important;
      &:hover,
      &:active {
        background-color: $button-color;
        border-color: $button-color;
        color: #ffffff;
      }
    }
  }
  .button-wrapper-borrow {
    width: 100%;
    margin: auto;
    button {
      width: 100%;
      border-color: $button-borrow-color !important;
      background-color: $button-borrow-color !important;
      color: #ffffff !important;
      &:hover,
      &:active {
        background-color: $button-borrow-color;
        border-color: $button-borrow-color;
        color: #ffffff;
      }
    }
  }
  button.disable-button {
    background-color: #e9e7f0 !important;
    border-color: #e9e7f0 !important;
    color: #92909a !important;
  }
}
