$token-num: 24px;
$token-num-mobile: 18px;


.CM {
    .header {
        position: fixed;
        width: 100%;
        z-index: 10;
        background: #222C3C;
    }

    .header-content {
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .market-info-title,
    .market-ratio,
    .account-info {
        color: #8B8F95;
        white-space: nowrap;
    }

    .market-info-digits {
        color: #FFFFFF;
        display: block;
        font-weight: medium;
    }

    .left {
        display: flex;
    }
}

.LG {
    .header {
        height: 70px;
    }

    .with-banner {
        top: 40px;
    }

    .without-banner {
        top: 0px;
    }

    .header-content {
        width: 1138px;
    }

    .market-info-title,
    .market-ratio,
    .account-info {
        white-space: nowrap;
    }

    .market-info {
        height: auto;
        margin: auto 0;
        padding: 8px 27px;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
            border-right: 0;
        }
    }

    .market-ratio {
        .market-info-title {
            font-size: 12px;
            line-height: 27px;
        }

        .market-info-digits {
            align-self: center;
            font-size: 18px;
            font-weight: medium;
            padding-left: 10px;
        }
    }

    .market-ratio,
    .account-info {
        height: auto;
        margin: auto 0;
        padding: 0 27px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 12px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        >div:not(.market-info-digits) {
            display: flex;
            justify-content: space-between;
        }
    }

    .market-info-digits {
        font-size: 12px !important;
    }

    .usdx-faucet {
        margin-left: 5px;
        padding: 3px 2px;
        font-size: 10px;
    }

    .header-logo {
        width: 62px;
        height: 44px,
    }

    .usdx-faucet {
        border: 1px solid #299CF6;
        font-weight: medium;
        border-radius: 3px;
        cursor: pointer;
        color: #FFFFFF;

        &:hover,
        &:active {
            color: #FFFFFF;
        }
    }

    .right {
        margin: auto 0;
    }

    div.login {
        font-size: 14px;
        // background: url('../assets/img/downwhite.png') no-repeat 160px 4px;
        background-size: 10px;
        height: 30px;
        position: relative;
        font-weight: 200;
        margin: auto 0;

        &:hover {
            .popup {
                display: block;
            }
        }

        .popup {
            display: none;
            z-index: 999;
            width: 180px;
            background: #fff;
            padding: 3px;
            color: #333;
            border-radius: 4px;
            position: absolute;
            top: 24px;
            left: 0px;
            border: 1px solid rgba(217, 222, 227, 1);
            box-shadow: 0px 5px 12px 0px rgba(42, 49, 56, 0.15);

            p {
                margin: 0;
                // background: url('../assets/img/connection.png') no-repeat 44px center;
                background-size: 15px;
                padding: 6px;
                text-align: center;
                padding-left: 25px;
                cursor: pointer;

                &.out {
                    // background: url('../assets/img/out.png') no-repeat 44px center;
                    background-size: 17px;
                }
            }

            span {
                display: block;
                width: 0;
                height: 0;
                border-width: 0 6px 6px;
                border-style: solid;
                border-color: transparent transparent rgba(217, 222, 227, 1);
                position: absolute;
                top: -6px;
                right: 8px;
            }

            em {
                display: block;
                width: 0;
                height: 0;
                border-width: 0 5px 5px;
                border-style: solid;
                border-color: transparent transparent #fff;
                position: absolute;
                top: 2px;
                left: -5px;
            }
        }
    }
}

.XS {
    .header {
        top: 0px;
        height: 66px;
        padding: 0 12px;
    }

    .market-info {
        height: auto;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        font-size: 9px;
        padding: 10px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
            border-right: 0;
        }
    }

    .market-ratio {
        height: auto;
        margin: auto 0;
        display: flex;
        flex-direction: column;
        font-size: 10px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        >div:not(.market-info-digits) {
            display: flex;
            justify-content: space-between;
        }
    }

    .account-info {
        display: none;
    }

    .usdx-faucet {
        margin-left: 5px;
        padding: 3px 2px;
        font-size: 10px;
    }

    .header-logo {
        width: 32px;
        height: 22px,
    }

    .usdx-faucet {
        display: none;
    }

    .right {
        display: none;
    }
}










@media screen and (min-width: 768px) {

    // my status
    .header-new {
        width: 820px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 35px 0px rgba(67, 73, 118, 0.15);
        border-radius: 2px;
        padding: 20px 0;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;

        .header-new-con {
            display: flex;
            justify-content: space-between;

            .header-new-item {
                border-right: 1px solid rgba(221, 221, 232, 0.5);
                width: 33.3%;
                padding: 0 20px;

                .item-title {
                    display: block;
                    font-size: 16px;
                    font-weight: 500;
                    color: rgba(164, 167, 190, 1);
                }

                .item-num {
                    font-size: $token-num;
                    font-weight: bold;
                    color: #B542F7;
                }

                .item-num-borrow {
                    color: rgba(112, 78, 244, 1);
                }

                .item-num-ratio {
                    color: #00A577;
                }
            }

            .collate-rate {
                border-right: none;
            }
        }





    }

    // top
    .top-status {
        width: 100%;
        height: 70px;
        background: #222C3C;
        margin-bottom: 20px;

        .top-status-box {
            width: 820px;
            margin: 0 auto;
            // background: red;
            padding-top: 13px;

            .top-box-left {
                float: left;
                padding-top: 7px;

                .logo2 {
                    width: 120px;
                }
            }


            .top-box-right {
                float: right;
                // background: pink;
                color: #fff;

                .token-price {
                    float: left;
                    margin-right: 20px;
                    padding-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-right: 1px solid rgba(255, 255, 255, 0.4);

                    .token-price-t {
                        margin-right: 5px;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }

                .netstatus {
                    float: right;
                    width: 110px;
                    // background: pink;

                    .netstatus-top {
                        position: relative;
                        padding-left: 15px;
                        font-size: 14px;
                        font-weight: 400;


                        .net-span {
                            position: absolute;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: #666;
                            left: 0;
                            top: 7px;
                        }

                        .main-span {
                            background: rgba(39, 170, 160, 1);
                        }

                        .rinkeby-span {
                            background: rgba(232, 187, 102, 1);
                        }
                    }

                    .netstatus-bm {
                        font-size: 14px;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover {
                            color: rgba(112, 78, 244, 1);
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 767px) {

    // my status
    .header-new {
        width: 89%;
        margin: 0 auto;
        margin-top: 10px;

        .header-new-con {
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 35px 0px rgba(67, 73, 118, 0.15);
            border-radius: 2px;
            border: 1px solid #EBEAEE;
            // margin: 20px 5.5%;
            padding: 10px 0;

            .header-new-item {
                display: flex;
                justify-content: space-between;
                padding: 0px 28px;
                line-height: 28px;

                .item-title {
                    font-size: 14px;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 0.8);
                }

                .item-num {
                    font-size: $token-num-mobile;
                    font-weight: bold;
                    color: #B542F7;
                }

                .item-num-borrow {
                    color: rgba(112, 78, 244, 1);
                }

                .item-num-ratio {
                    color: #00A577;
                }
            }
        }
    }

    // top
    .top-status {
        width: 100%;
        background: #222C3C;

        .top-status-box {
            padding-top: 5px;
            // background: red;
            width: 87.5%;
            margin: 0 auto;

            .top-box-left {
                float: left;
                padding-top: 7px;

                .logo2 {
                    width: 80px;
                }
            }


            .top-box-right {
                float: right;
                color: #fff;
                font-size: 12px;

                .token-price {
                    float: left;
                    padding-right: 20px;
                    padding-top: 10px;
                    padding-bottom: 13px;

                    .token-price-t {
                        margin-right: 5px;
                        color: rgba(255, 255, 255, 0.7);
                    }
                }

                .netstatus {
                    display: none;
                }
            }
        }
    }
}