$button-color: #A55AFF;

.input-unwrap-unit-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .balance-info {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin-bottom: 10px;
    }
    .input-wrapper {
        position: relative;
        display: inline-block;
        width: 290px;

    }
    .button-wrapper {
        margin-left: 10px;
        display: inline-block;
        button {
            width: 80px !important;
            border-color: $button-color !important;
            background-color: $button-color !important;
            color: #FFFFFF !important;
            &:hover, &:active {
                background-color: $button-color;
                border-color: $button-color;
                color: #FFFFFF;
            }
        }
        .disable-button {
            background-color: #E9E7F0 !important;
            border-color: #E9E7F0 !important;
            color: #92909A !important;
        }
    }
    
    .input-number{
        width: 100%;
    }

    .ant-btn-lg,.ant-input-number-lg,.ant-input-number-input{
        height: 32px !important;
        line-height: 32px;
    }
    .ant-btn-lg,.ant-input-number-lg,.ant-input-number-input{
        font-size: 12px !important;
    }
    
    .max-amount-button{
        position: absolute;
        right: 28px;
        top: 8px;
        cursor: pointer;
        border: none;
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        color: $button-color;
    }
    .max-amount-button-disable{
        position: absolute;
        right: 28px;
        top: 8px;
        border: none;
        padding: 0;
        font-weight: 500;
        font-size: 12px;
        color: #92909A;
    }
}