.CM {
    &.lend-page {
        background-color: #FCFBFF !important;
        .supply-title {
            font-size: 20px;
            height: 55px;
            color: #A55AFF;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #EBEAEE;
        }
        .supply-group {
            background: #FFFFFF;
            border: 1px solid #EBEAEE;
            box-shadow:0px 0px 35px 0px rgba(0, 0, 0, 0.05);
            border-radius:4px;
        }
        .supply-content{
            padding: 0 28px 40px;
        }

        .redirect-button {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        .go-back-button,.go-to-lend,.go-to-borrow {
            font-size: 18px;
            font-weight: Medium;
            > a {
                color: #333344;
            }
        }
        
        .go-back-button a > img {
            margin-right: 10px;
            height: 20px;
            width: 20px;
        }

        .go-back-button a {
            display: flex;
            align-items: center;
        }
        
        .go-to-lend, .go-to-borrow {
            a > img {
                margin-left: 10px;
                height: 20px;
                width: 20px;
            }
        }
    }
}

.LG {
    &.lend-page {
        position:absolute;
        left:0px;
        right:0px;
        bottom:0px;
        overflow-y:scroll;
        &.with-banner {
            top: 110px;
          }
        &.without-banner {
            top: 70px;
        }
        .lend-page-wrapper {
            width: 67.5%;
            display: flex;
            justify-content: center;
            margin: 20px auto;
            .supply-group {
                width: 386px;
            }
            .info-board-content {
                box-shadow:0px 0px 35px 0px rgba(0, 0, 0, 0.05);
            }
        }
    }
    .redirect-button {
        padding-top: 10px;
        width: 810px;
    }
}

.XS {
    &.lend-page {
        top: 70px;
        .lend-page-wrapper {
            width: 89.5%;
            display: flex;
            justify-content: center;
            margin: 20px auto;
            .supply-group {
                width: 100%;
            }
        }
        .redirect-button {
            padding-top: 88px;
            width: 87.5%;
        }
    }
}